
.wp-block-groundworx-carousel.template-default {

    > .splide.is-active {
        .splide__wrapper {
            display: grid;
            grid-template-columns: [track-start progress-start pagination-start arrows-start] auto [arrows-end pagination-end progress-end track-end];
            grid-template-rows: 
            [track-start pagination-start] auto
            [pagination-end track-end progress-start] auto
            [progress-end] .5rem
            [arrows-start] auto [arrows-end];
        }

        .splide__arrows {
            z-index: 1;
            position: relative;
            display: inline-grid;
            justify-self: stretch;
            align-items: center;
            gap: .5rem;
            grid-template-columns: [counter-start counter-end] 1fr [arrow-prev-start] auto [arrow-prev-end arrow-next-start] auto [arrow-next-end];
            grid-template-rows: [arrow-prev-start counter-start arrow-next-start] auto [arrow-prev-end counter-end arrow-next-end];
        }

        .splide__pagination {
            align-self: flex-end;
            justify-content: center;
            z-index: 1;
            position: relative;
            display: flex;
            margin: 0;
            padding: .5rem 0;
        }

        .splide__counter {
            align-self: center;
            justify-self: flex-start;
            z-index: 1;
            position: relative;
        }

        .splide__progress {
            z-index: 1;
            position: relative;
        }
        
        .splide__track {
            z-index: 0;
        }

    }
        
}
