@import './default/style';
@import './default-alt/style';
@import './simple/style';
@import './simple-left/style';
@import './simple-right/style';
@import './overlay/style';
@import './overlay-alt/style';
@import './partial-overlay/style';
@import './partial-overlay-alt/style';
