.wp-block-groundworx-carousel {
    position: relative;
    > .splide {
        margin-block-start: 0;  
    }
}

.is-inherited .components-form-toggle .components-form-toggle__thumb {
    transform: translateX(8px);
}

@import './templates/editor';