.wp-block-groundworx-carousel {
    container-type: inline-size;
    > .splide.is-active {
        display: block;
        > .splide__track {
            margin-top: 0;
            margin-bottom: 0;
        }

        > .splide__wrapper {
            
            :where(.splide__arrows) {
                pointer-events: none;
                grid-area: arrows;
            }

            :where(.splide__arrow) {
                display: inline-flex;
                appearance: none;
                backface-visibility: hidden;
                background-color: var(--grx--color--arrows-bg, transparent);
                color: var(--grx--color--arrows, currentColor);
                border: 0;
                padding: .5rem;
                margin: 0;
                cursor: pointer;
                font-size: 1.5em;
                line-height: 1;
                pointer-events: auto;
                &:hover {
                    background-color: color-mix(in srgb, var(--grx--color--arrows-bg) 75%, #ffffff);
                    color: color-mix(in srgb, var(--grx--color--arrows) 75%, #ffffff);
                }
                &:hover:focus {
                    background-color: color-mix(in srgb, var(--grx--color--arrows-bg) 75%, #000000);
                    color: color-mix(in srgb, var(--grx--color--arrows) 75%, #ffffff);
                }
                &.splide__arrow--prev svg {
                    transform: scaleX(-1);
                }
                &[disabled] {
                    opacity: .5;
                    cursor: default;
                }
                > svg {
                    pointer-events: none;
                    width: 1em;
                    height: 1em;
                    fill: currentColor;
                }
            }
            
            :where(.splide__arrow--prev) {
                grid-area: arrow-prev;
            }

            :where(.splide__arrow--next) {
                grid-area: arrow-next;
            }

            :where(.splide__counter) {
                pointer-events: auto;
                grid-area: counter;
                color: var(--grx--color--counter, currentColor);
            }

            :where(.splide__counter-current) {
                font-weight: bold;
            }

            :where(.splide__counter-current, .splide__counter-separator, .splide__counter-total) {
                display: inline;
            }
            
            :where(.splide__pagination) {
                grid-area: pagination;
            }

            :where(.splide__track) {
                grid-area: track;
                min-height: 120px;
            }

            :where(.splide__pagination__page) {
                display: flex;
                appearance: none;
                background-color: transparent;
                color: var(--grx--color--pagination, currentColor);
                border: 0;
                padding: 2px;
                margin: 0;
                cursor: pointer;
                font-size: .875em;
                &:hover {
                    color: color-mix(in srgb, var(--grx--color--pagination) 75%, #ffffff);
                }
                &:hover:focus {
                    color: color-mix(in srgb, var(--grx--color--pagination) 75%, #000000);
                }
                > svg {
                    pointer-events: none;
                    stroke: currentColor;
                    stroke-width: 1.25px;
                    fill: none;
                    width: 1em;
                    height: 1em;
                }
                &.is-active {
                    cursor: default;
                    > svg {
                        stroke: currentColor;
                        stroke-width: 1.25px;
                        fill: currentColor;
                    }
                }
            }

            :where(.splide__progress) {
                grid-area: progress;
                width: 100%;
                height: 4px;
                overflow: hidden;
                background-color: color-mix(in srgb, currentColor 25%, transparent);
                .splide__progress-bar {
                    width: 0;
                    height: 100%;
                    background-color: var(--grx--color--progress, var(--wp--preset--color--accent-1, rgb(97, 235, 47)));
                    transition: width 400ms ease;
                }
            }            
        }

    }

    > .splide.is-active:not(.is-overflow) {
        > .splide__track {
            > .splide__list {
                justify-content: center;
                > .splide__slide:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }
    
    > .splide.is-initialized:not(.is-active) {
        > .splide__wrapper {
            > .splide__track {
                > .splide__list {
                    padding: 0;
                    display: grid;
                }
            }
            
            > .splide__arrows, > .splide__pagination {
                display: none;
            }
        }
    }
}

@import './variations/default/style';
@import './variations/compact/style';
@import './variations/mobile-only/style';
@import './variations/overlay/style';
@import './variations/overlay-alt/style';
