.wp-block-groundworx-carousel {
    container-type: inline-size;
    > .splide.is-active {
        display: block;
        > .splide__wrapper {
            > .splide__track {
                margin-top: 0;
                margin-bottom: 0;
                grid-area: track;
                min-height: 120px;
            }
            > .splide__arrows {
                pointer-events: none;
                grid-area: arrows;
            
                .splide__arrow {
                    display: inline-flex;
                    appearance: none;
                    backface-visibility: hidden;
                    border: .1em solid transparent;
                    background-color: var(--gwx--background-color--arrows, transparent);
                    color: var(--gwx--color--arrows, currentColor);
                    border-color: var(--gwx--border-color--arrows, transparent);
                    padding: .5em;
                    margin: 0;
                    cursor: pointer;
                    font-size: 1em;
                    line-height: 1;
                    pointer-events: auto;
                    border-radius: 2em;
                    &.splide__arrow--prev svg {
                        transform: scaleX(-1);
                    }
                    &[disabled] {
                        opacity: .5;
                        cursor: default;
                    }
                    > svg {
                        pointer-events: none;
                        width: 1em;
                        height: 1em;
                        fill: currentColor;
                    }
                }
                
                .splide__arrow--prev {
                    grid-area: arrow-prev;
                }

                .splide__arrow--next {
                    grid-area: arrow-next;
                }

                .splide__counter {
                    pointer-events: auto;
                    grid-area: counter;
                    color: var(--gwx--color--counter, currentColor);
                }

                .splide__counter-current {
                    font-weight: bold;
                }

                .splide__counter-current, .splide__counter-separator, .splide__counter-total {
                    display: inline;
                }
            }
            > .splide__pagination {
                grid-area: pagination;
                gap: .25em;

                .splide__pagination__page {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    appearance: none;
                    border: .1em solid transparent;
                    background-color: var(--gwx--background-color--inactive-pagination, transparent);
                    color: var(--gwx--color--inactive-pagination, currentColor);
                    border-color: var(--gwx--border-color--inactive-pagination, transparent);
                    margin: 0;
                    padding: 0;
                    min-width: unset;
                    height: unset;
                    cursor: pointer;
                    font-size: .875em;
                    > svg {
                        pointer-events: none;
                        stroke-width: 1;
                        width: auto;
                        height: 1em;
                    }
                    &.is-active {
                        cursor: default;
                        background-color: var(--gwx--background-color--pagination, transparent);
                        color: var(--gwx--color--pagination, #007cba);
                        border-color: var(--gwx--border-color--pagination, transparent);

                        > svg {
                            fill: currentColor;
                            opacity: 1;
                        }
                    }
                }
            }

            > .splide__progress {
                grid-area: progress;
                width: 100%;
                height: 5px;
                overflow: hidden;
                background-color: var(--gwx--background-color--progress, color-mix(in srgb, currentColor 25%, transparent));
                .splide__progress-bar {
                    width: 0;
                    height: 100%;
                    background-color: var(--gwx--color--progress, #007cba);
                    transition: width 400ms ease;
                }
            }            
        }
        
    }
    &.is-pagination-number {
        > .splide.is-active > .splide__wrapper > .splide__pagination {
            .splide__pagination__page {
                min-width: 2em;
                height: 2em;
                border-radius: .25em;
                border-width: .1em;
                text-align: center;
                background-color: var(--gwx--background-color--inactive-pagination, color-mix(in srgb, #000000 75%, transparent));
                color: var(--gwx--color--inactive-pagination, #ffffff);
                border-color: var(--gwx--border-color--inactive-pagination, color-mix(in srgb, #000000 75%, transparent));
                &.is-active {
                    font-weight: bold;
                    background-color: var(--gwx--background-color--pagination, #007cba);
                    color: var(--gwx--color--pagination, #ffffff);
                    border-color: var(--gwx--border-color--pagination, #007cba);
                }
            }
        }
    }
   

    > .splide.is-active:not(.is-overflow) {
        > .splide__track {
            > .splide__list {
                justify-content: center;
                > .splide__slide:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }
    
    > .splide.is-initialized:not(.is-active) {
        > .splide__wrapper {
            > .splide__track {
                > .splide__list {
                    padding: 0;
                    display: grid;
                }
            }
            
            > .splide__arrows, > .splide__pagination {
                display: none;
            }
        }
    }
}

@import './templates/styles';