.wp-block-groundworx-carousel.template-default {
    > .splide.is-active {
        > .splide__wrapper {
            display: grid;
            grid-template-columns: [track-start progress-start pagination-start counter-start] 1fr [counter-end pagination-end progress-end track-end];
            grid-template-rows: 
            [counter-start track-start pagination-start arrow-prev-start arrow-next-start] auto
            [arrow-prev-end arrow-next-end pagination-end track-end progress-start counter-end] auto
            [progress-end];
            
            > .splide__track {
                z-index: 0;
            }
            
            > .splide__arrows {
                z-index: 1;
                display: contents;
            
                .splide__arrow--prev {
                    width: min-content;
                    align-self: center;
                    margin-right: var(--wp--preset--spacing--gutter, 1rem);
                }

                .splide__arrow--next {
                    width: min-content;
                    align-self: center;
                    margin-left: var(--wp--preset--spacing--gutter, 1rem);
                }
                .splide__counter {
                    align-self: flex-start;
                    justify-self: flex-end;
                    z-index: 1;
                    position: relative;
                    padding: var(--wp--preset--spacing--gutter, 1rem);
                }
            }
            
            > .splide__pagination {
                align-self: flex-end;
                justify-content: center;
                z-index: 1;
                position: relative;
                display: flex;
                margin: 0;
                padding: var(--wp--preset--spacing--gutter, 1rem);
            }

            > .splide__progress {
                z-index: 1;
                position: relative;
            }
            
            
        }
        &.splide--has-arrows {
            > .splide__wrapper {
                grid-template-columns: [arrow-prev-start] auto [arrow-prev-end track-start progress-start pagination-start counter-start] 1fr [counter-end pagination-end progress-end track-end arrow-next-start] auto [arrow-next-end];
            }
        }
    }
        
}
